<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 jhiTranslate="settings.title" [translateValues]="{ username: settingsForm.value.login }" *ngIf="settingsForm.value.login">
        Profil de l'utilisateur [<strong>{{ settingsForm.value.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
        <strong>Votre profil a été sauvegardé !</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
        <div class="mb-3">
          <label class="form-label" for="firstName" jhiTranslate="settings.form.firstname">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.required"
              jhiTranslate="settings.messages.validate.firstname.required"
            >
              Votre prénom est requis.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.minlength"
              jhiTranslate="settings.messages.validate.firstname.minlength"
            >
              Votre prénom doit comporter au moins un caractère.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
              jhiTranslate="settings.messages.validate.firstname.maxlength"
            >
              Votre prénom ne doit pas comporter plus de 50 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="lastName" jhiTranslate="settings.form.lastname">Nom</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.required"
              jhiTranslate="settings.messages.validate.lastname.required"
            >
              Votre nom est requis.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.minlength"
              jhiTranslate="settings.messages.validate.lastname.minlength"
            >
              Votre nom doit comporter au moins un caractère.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
              jhiTranslate="settings.messages.validate.lastname.maxlength"
            >
              Votre nom ne doit pas comporter plus de 50 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label>Matricule</label>
          <input type="text" class="form-control" name="matricule" formControlName="matricule" />

          <div
            *ngIf="
              settingsForm.get('matricule')!.invalid && (settingsForm.get('matricule')!.dirty || settingsForm.get('matricule')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('matricule')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              Ce champ doit faire moins de 10 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label>Adresse</label>
          <input type="text" class="form-control" name="adresse" formControlName="adresse" />

          <div *ngIf="settingsForm.get('adresse')!.invalid && (settingsForm.get('adresse')!.dirty || settingsForm.get('adresse')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('adresse')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              Ce champ doit faire moins de 100 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Votre email est requis.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.email"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Votre email n'est pas valide.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Votre email doit comporter au moins 5 caractères.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="settingsForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Votre email ne doit pas comporter plus de 50 caractères.
            </small>
          </div>
        </div>

        <div class="mb-3" *ngIf="languages && languages.length > 0">
          <label for="langKey" jhiTranslate="settings.form.language">Langue</label>
          <select class="form-control" id="langKey" name="langKey" formControlName="langKey" data-cy="langKey">
            <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
          </select>
        </div>

        <hr />
        <p class="underline font-bold">Ajouter au moins une image (La Photo)</p>

        <div class="d-flex align-items-center justify-content-between mb-3">
          <div class="colonneLabel">
            <label class="form-label">Photo</label>
          </div>
          <div class="colonneInput d-flex align-items-center">
            <img
              [src]="'data:' + settingsForm.get('photoContentType')!.value + ';base64,' + settingsForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="settingsForm.get('photo')!.value"
              alt="projet image"
            />
            <div *ngIf="settingsForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ settingsForm.get('photoContentType')!.value }}, {{ byteSize(settingsForm.get('photo')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              class="btn"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          [disabled]="settingsForm.invalid"
          class="btn btn-primary"
          jhiTranslate="settings.form.button"
          data-cy="submit"
        >
          Sauvegarder
        </button>
      </form>
    </div>
  </div>
</div>
