<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h5><i class="fa fa-road"></i> PRESENCE TRACKER</h5>
        <div class="row">
          <div class="col-6">
            <ul class="list-unstyled">
              <li><a href="">Produits</a></li>
              <li><a href="">Bénéfices</a></li>
              <li><a href="">Partenaires</a></li>
              <li><a href="">Equipe</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled">
              <li><a href="">Documentation</a></li>
              <li><a href="">Support</a></li>
              <li><a href="">Politique confidentialité</a></li>
              <li><a href="">Apropos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h5 class="text-md-right">Contactez-nous</h5>
        <hr />
        <form>
          <fieldset class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Votre email" />
          </fieldset>
          <fieldset class="form-group">
            <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
          </fieldset>
          <fieldset class="form-group text-xs-right mt-2 mb-2">
            <button type="button" class="btn btn-light btn-lg">Envoyer</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</footer>
