<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="travail">
      <h2 data-cy="travailDetailsHeading"><span jhiTranslate="pointagePresenceApp.travail.detail.title">Travail</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ travail.id }}</span>
        </dd>
        <dt><span jhiTranslate="pointagePresenceApp.travail.date">Date</span></dt>
        <dd>
          <span>{{ travail.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="pointagePresenceApp.travail.typeTravail">Type Travail</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pointagePresenceApp.TypeTravail.' + travail.typeTravail }}">{{ travail.typeTravail }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/travail', travail.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
