<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-zone-heading" data-cy="ZoneCreateUpdateHeading" jhiTranslate="pointagePresenceApp.zone.home.createOrEditLabel">
        Créer ou éditer un Zone
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label labelPoint" jhiTranslate="pointagePresenceApp.zone.pointA">Point A</label>

          <div class="d-flex flex-row gap-3 flex-wrap justify-content-center">
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">X</span>
              <input type="number" pInputText formControlName="ax" name="ax" placeholder="6.8812189" />
            </div>
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">Y</span>
              <input type="number" pInputText placeholder="-5.2303786" name="ay" formControlName="ay" />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label labelPoint" jhiTranslate="pointagePresenceApp.zone.pointB">Point B</label>
          <div class="d-flex flex-row gap-3 flex-wrap justify-content-center">
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">X</span>
              <input type="number" pInputText placeholder="6.8812189" name="bx" formControlName="bx" />
            </div>
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">Y</span>
              <input type="number" pInputText placeholder="-5.2303786" name="by" formControlName="by" />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label labelPoint" jhiTranslate="pointagePresenceApp.zone.pointC">Point C</label>
          <div class="d-flex flex-row gap-3 flex-wrap justify-content-center">
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">X</span>
              <input type="number" pInputText formControlName="cx" name="cx" placeholder="6.8812189" />
            </div>
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">Y</span>
              <input type="number" pInputText placeholder="-5.2303786" name="cy" formControlName="cy" />
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label labelPoint" jhiTranslate="pointagePresenceApp.zone.pointD">Point D</label>
          <div class="d-flex flex-row gap-3 flex-wrap justify-content-center">
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">X</span>
              <input type="number" pInputText formControlName="dx" name="dx" placeholder="6.8812189" />
            </div>
            <div class="p-inputgroup inputPoint">
              <span class="p-inputgroup-addon">Y</span>
              <input type="number" pInputText placeholder="-5.2303786" name="dy" formControlName="dy" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
