<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-center col-xl-12">
    <div class="col-lg-5 col-md-8 col-sm-10 p-5">
      <h1 jhiTranslate="login.title" class="fst-italic fw-bold" data-cy="loginTitle">Presence Tracker</h1>
      <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Erreur d'authentification !</strong> Veuillez vérifier vos identifiants de connexion.
      </div>
      <div *ngIf="!authenticationError">
        <p>Veuillez remplir vos coordonnées pour accéder à votre compte.</p>
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="username-label" for="username" jhiTranslate="global.form.username.label">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <label for="password" jhiTranslate="login.form.password">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="d-flex justify-content-around mb-3">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Garder la session ouverte</span>
          </label>
          <a
            class="alert-link"
            routerLink="/account/reset/request"
            jhiTranslate="login.password.forgot"
            data-cy="forgetYourPasswordSelector"
            >Avez-vous oublié votre mot de passe ?</a
          >
        </div>
        <div class="d-flex flex-column gap-2">
          <button type="submit" class="btn btnConnexion" jhiTranslate="login.form.button" data-cy="submit">Connexion</button>
          <a
            class="btn btn-outline-primary btnCreateCompte"
            routerLink="/account/register"
            jhiTranslate="global.messages.info.register.link"
            >Créer un compte</a
          >
        </div>
      </form>
    </div>
    <img src="../../content/images/imgPerson.png" width="500" />
  </div>
</div>
