.btnConnexion {
  background: #00797c;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

.btnCreateCompte:hover {
  background: rgba(0, 121, 124, 0.67);
  color: #ffffff;
  border-radius: 8px;
}
