<div class="d-flex align-items-center justify-content-around bg-green col-xl-12">
  <div>
    <h1 class="fw-bold fst-italic">
      Bienvenu sur <br />
      presence Tracker
    </h1>
    <h6>Renseignez votre presence...</h6>

    <ng-container [ngSwitch]="account !== null">
      <ng-container *ngSwitchCase="true">
        <button (click)="showDialog()" class="btnDemarrer mt-4">Démarrer</button>
        <p-dialog header=" " [(visible)]="visible" [style]="{ width: '50vw' }" [maximizable]="true">
          <form name="editForm" role="form" novalidate (ngSubmit)="checkPointInPolygon()" [formGroup]="editForm">
            <div class="d-flex justify-content-center align-items-center flex-column gap-3">
              <div class="row mb-3">
                <label class="form-label" jhiTranslate="pointagePresenceApp.presence.horaire" for="field_horaire">Horaire</label>
                <select class="form-control" name="horaire" formControlName="horaire" id="field_horaire" data-cy="horaire">
                  <option [ngValue]="null">{{ 'pointagePresenceApp.HoraireType.null' | translate }}</option>
                  <option *ngFor="let horaireType of horaireTypeValues" [value]="horaireType">
                    {{ 'pointagePresenceApp.HoraireType.' + horaireType | translate }}
                  </option>
                </select>
                <div *ngIf="editForm.get('horaire')!.invalid && (editForm.get('horaire')!.dirty || editForm.get('horaire')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="editForm.get('horaire')?.errors?.required"
                    jhiTranslate="entity.validation.required"
                  >
                    Ce champ est obligatoire.
                  </small>
                </div>
              </div>
              <!--              <label> POUR LE TEST </label>-->
              <!--              <div class="d-flex justify-content-between gap-2">-->
              <!--                <input type="number" id="postionUserX" placeholder="X" />-->
              <!--                <input type="number" placeholder="Y" id="postionUserY" />-->
              <!--              </div>-->

              <textarea
                class="inputWork"
                placeholder="Renseignez votre travail de la journée"
                pInputTextarea
                formControlName="bilan"
                name="bilan"
                id="field_bilan"
                data-cy="bilan"
              ></textarea>
              <p-button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid"
                label="Je valide ma présence"
                styleClass="p-button-raised p-button-text"
              >
              </p-button>
            </div>
          </form>
        </p-dialog>

        <p-toast key="positionSuccessToast"></p-toast>
        <p-toast position="bottom-center" key="positionDenyToast" (onClose)="clearToastDeny()" [baseZIndex]="5000">
          <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
              <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{ message.summary }}</h4>
                <p>{{ message.detail }}</p>
              </div>
            </div>
          </ng-template>
        </p-toast>
      </ng-container>
    </ng-container>
  </div>
  <img src="../../content/images/imgPosition.png" width="50%" alt="" />
</div>
